<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<title>AACR 2013: Connecting RAS research community</title>
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript" src="/static/js/min/json2.min.js"></script>
<script type="text/javascript" src="/static/js/min/AC_OETags.min.js"></script>
<script type="text/javascript" src="/static/js/min/cytoscapeweb.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgSBErcst7UKAyYLr0yScDrDxKiQ9FjEA&sensor=false">
</script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="/static/aacrScript.js"></script>
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript" src="/static/localGraph.js"></script>
<script type="text/javascript" src="/static/globalGraph.js"></script>
<script type="text/javascript" src="/static/googleMap.js"></script>

<script>
	window.onload = function() {
		initializeLocalGraph()
		initializeGlobalGraph()
	}
	
	openInfo = function(){
		window.open("/info",'','width=600,height=400')	
	}
	
	showDiv = function(divName){
		divs = ["cytoscapeweb","cytoscapeweb2","map_canvas"]
		
		for(i = 0; i < divs.length; ++i){
			document.getElementById(divs[i]).style.position = "absolute"
			document.getElementById(divs[i]).style.left = "-9999px"
		}
		document.getElementById(divName).style.position = "relative"
		document.getElementById(divName).style.left = "0"
	}
</script>

<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"></link>


<style>
* {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

html,body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #706B58;
}

body {
	line-height: 1.5;
	color: #000000;
	font-size: 14px;
}
/* The Cytoscape Web container must have its dimensions set. */
/*#cytoscapeweb { width: 100%; height: 80%; }*/
#note {
	width: 90%;
	text-align: left;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em
}

.link {
	text-decoration: underline;
	color: #0b94b1;
	cursor: pointer;
}

.title {
	text-decoration: bold
}
</style>
</head>
<style>
#authors {
	width: 25em;
}
</style>

<body>
	<div id="header"
		style="background-color: #706B58; color: #fff; text-align: center;">
		<h1 style="margin-bottom: 0;">AACR 2013: Networking the RAS
			community</h1>
	</div>
	<div style="height: 65%;">
		<div id="menu"
			style="background-color: white; padding-left: 10px; margin: 0px 0 10px 0; float: left; height: 100%; width: 220px;">
			<br /> <label for="startId"><font size=+1>Enter your
				lastname: </font></label><br />
			<!-- <label for="authors">Select author:</label><input id="authors" size="50" /></br>OR</br> -->
			<input id="startId" size="25" /> </br> <label for="top"><font
				size=+1>Top neighbors:</font></label><br /> <select id="top">
				<option>5</option>
				<option>10</option>
				<option>20</option>
				<option>30</option>
				<option>40</option>
				<option>50</option>
			</select>

			<div class="link" id="lnkGetPresentationById">Get your network</div>
			<br /> <font size=+1>Network views:</font>
			<div align="left">
				<br> <input type="radio" name="GraphView" value="cytoscapeweb"
					checked> First neighbors</input><br />
				<input type="radio" name="GraphView" value="map_canvas"> Map
					view</input><br/>
				<input type="radio" name="GraphView" value="cytoscapeweb2"> Full
					network</input><br/>
				<script>
					var radios = document.getElementsByName('GraphView')
					for (i = 0; i < radios.length; ++i) {
						radios[i].onclick = function() {
							showDiv(this.value)
						}
					}
				</script>
			</div>
			<p/>
			<span class="link" onClick='openInfo()'>Help/Info</span>
			

		</div>


		<div id="cytoscapeweb"
			style="background-color: #E0D9FF; margin: 10px 0 10px 240px;">
			Your network is loading...</div>
		<div id="cytoscapeweb2"
			style="background-color: #E0D9FF; margin: 10px 0 10px 240px; position: absolute; left: -9999px">
			Global network view...</div>
		<div id="map_canvas"
			style="background-color: #E0D9FF; margin: 10px 0 10px 240px; position: absolute; left: -9999px; width: 70%; height: 100%">
			Google maps view...</div>

	</div>
	<div class="note"
		style="background-color: white; clear: both; text-align: left; height: 250px; overflow: scroll">
		<p />
		<table width="100%">
			<tr>
				<td valign='top'>Title:</td>
				<td><b></b><label class="title" id="lblAbstractTitle">Select
						an author from the network above to view details.</label></b></td>
			</tr>
			<tr>
				<td valign='top'>Id:</td>
				<td><label id="lblAbstractId"></td>
			</tr>
			<tr>
				<td valign='top'>Authors:</td>
				<td><label id="lblAbstractAuthors"></label></td>
			</tr>
			<tr>
				<td valign="top">Abstract:</td>
				<td><label id="lblAbstractText"></label></td>
			</tr>
		</table>
	</div>


</body>

</html>
